body {
	padding: 0px;
	margin: 0px;
}

.header {
	position: absolute;
	width: 100%;
	height: 100%;	
	background-image: url("../img/maahind.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;	
}


#caricature {
	position: relative;
	width: 100%;
	height: 100%;	

}

.content-wrapper{

	position: relative;
	top: 50%;
	transform: translateY(-50%);

}

.content {
	position: absolute;
	top: 25%;
	left: 43%;
}

p {	
	color: white;
	font-size: 35px;
	font-family: helvetica;
}

.caricature{
	width: 20%;		
	margin: 0 0 0 20%;			
}
