@import url(http://fonts.googleapis.com/css?family=Merriweather:700);
body, html {
  padding: 0;
  margin: 0;
}

.titles {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}

h1 {
  font-size: 4em;
  color: white;
  font-family: 'Open Sans', serif;
  letter-spacing: 2px;
  pointer-events: none;
  font-weight: 500;
  border: 0px;
  margin: 0px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffff66;
}

p {
  font-family: 'Open Sans', serif;
  color: white;
  text-align: center;
}
